html,
body {
    background-color: black;
    opacity: .95;
    display: block;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    color: rgb(67, 67, 230);
}

.myLinks a {
    margin: 20px 20px 0 0;
    font-size: 125%;
}

.icons img{
    max-width: 32px;
    max-height: 32px;
}

.leftHeading {
    font-size: 300%;
}

@media only screen and (width: 1920px){

    .hero-body{
        margin-left: 15%;
    }
    .myImage img {
        max-width: 50%;
        height: auto;
        float: right;
        
    }

}


