body,
html {
    background-color: whitesmoke;
    display: block;
    font-family: 'DM Serif Display', serif;
    position: relative;
}


.lead {
    font-size: 30px;
}

.contact {
    color: #f8f8;
    margin: 20px;
    max-width: 1000px;
            
}

/*portfolio file */

.portfolio {
    color: #f8f8;
    margin: 20px;
    
}


/*portfolio file */
/* ------------------------*/

#carouselExampleFade {
    margin: 5%;
}

.d-block {
    max-width: 50%;
    height: auto;
}

img {
    padding: 3px;
}

.card {
    margin:25px;
    margin-top: 50px;
    left: 10%;
    
 }

 #portfolio {
     margin-top: 35px;
     width: 66.6%;
 }

 .carousel-item {
    margin-left: 25%;
 }

 .carousel-control-prev,
 .carousel-control-next {
    background-color: midnightblue;
    
 }

@media screen and (max-width: 768px){
    .card {
        margin: 50px auto;
         }
}
